img {
    width: 30%;
    float: left;
    margin: 1.66%;
}
p {
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    color: rgb(48, 48, 48);
    margin-left: 1.66%;
    border-bottom: 2px solid #f1f1f1;
    width: 32%;
    padding-bottom: 20px;
}